.recommendation-form {

    display: inline-block;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: "museo-sans";
}

.recommendation-form label {
    color: #fff;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.recommendation-form input {
    margin-right: 10px;
    padding: 6px;
}

.recommendation-form button {
    padding: 6px; 
}