.member-list {
    width: 500px;
    background: #fff;
    border-radius: 4px;
    color: #1f1d1d;
    padding: 10px;
    margin: 0 auto;
}
.member-list h1 {
    color: #1f1d1d;
}
.member-list a {
    color: #1f1d1d;
}