.recommendations {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}
.list {
    list-style: none;
    padding: 0;
}

.list li {
    width: 100%;
    height: 100px;
    line-height: 100px;
    display: block;
    margin-bottom: 12px;
    background: #fff;
    color: #414548;
    border-radius: 4px;
    text-align: left;
    font-family: "museo-sans";
    padding-right: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.list img {
    margin: 18px 35px;
    float: left;
    font-size: 10px;
    overflow: hidden;
}

h1 {
    color: #fff;
    font-family: "museo-sans";
    font-weight: 500;
    font-size: 34px;
}

.button {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 100%;
    float: left;
    font-family: "museo-sans";
    font-size: 13px;
    padding: 8px 0;
    cursor: pointer;
}