body {
  background: #00bb63;
}

.App {
  text-align: center;
}

.App-logo {
  height: 30px;
}

.App-header {
  height: 25px;
  padding: 20px;
  margin-bottom: 50px;
  background: #fff;
}

.App-intro {
  font-size: large;
}